.list {
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;

}

.list-todoitem {
    display: flex;
    align-items: center;
    justify-content: start;
    

}

.V-X {
    display: flex;
}

.V {
    padding-right: 20px;
}